.messagesContainer {
    height: 100%;
    width: 100%;
}

.messageContainer {
    padding: 5px 0px 0px 20px;
    margin-top: 15px;
    width: fit-content;
}

.messageText {
    color: gray;
    white-space: nowrap;
}

.admin {
  color: orange;
}

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }