.c-chat {
    display: flex;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    position: absolute;
    right: 0;
    width: 85%;
}

.chatContainer form {
    display: flex;
}