.sidebar {
    background-color: rgb(22, 22, 22);
    width: 15%;
    height: 100vh;
    padding: 5px;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.sidebarChannel {
    padding: 8.5px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    margin-top: 0.3rem;
    transition: 0.3s;
}

.sidebarChannel:hover {
    background-color: rgba(102, 102, 102, 0.178);
}

.channelHashtag {
    margin-right: 5px;
    color: gray;
    font-size: 1.1em;
}

.channelName {
    font-size: 0.95em;
}

.SidebarFooter {
    margin: 10px 15px 0px 15px;
    border-top: solid 2px gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sfItem {
    margin-top: 1rem;
}

.sfImage {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: white;
    margin-right: 0.5rem;
}

.sfUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75em;
}

.sfInfo span {
    font-size: 14px;
}

.sfInfo p {
    color: gray;
    font-size: 12px;
}

.sfButton {
    font-size: 15px;
    padding: 7px;
    outline: none;
    background: none;
    border: none;
    border-radius: 5px;
    color: gray;
    transition: all 0.2s;
    cursor: pointer;
}

.sfButton:hover {
    background-color: rgba(73, 73, 73, 0.315);
}