.sidebar {
    background-color: rgb(22, 22, 22);
    width: 15%;
    height: 100vh;
    padding: 5px;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.sidebarChannel {
    padding: 8.5px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    margin-top: 0.3rem;
    transition: 0.3s;
}

.sidebarChannel:hover {
    background-color: rgba(102, 102, 102, 0.178);
}

.channelHashtag {
    margin-right: 5px;
    color: gray;
    font-size: 1.1em;
}

.channelName {
    font-size: 0.95em;
}